<div>
    <p>
    Hi <%= resetpwd.user.fname%>,
    </p><br>

    <p>Please reset your password by the following link</p>
    
    <a href="https://developmentrohit.com/reset-password/<%=resetpwd.access_token%>">Visit the link to reset your password</a>
    <br>
    <p>Thanks !</p>
</div>    
