<link rel="stylesheet" href="/css/header.css">
<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="#"><div class = "logo"><img src="/images/logo.png" alt="image-load-issue"></div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ">
        <% if(locals.user ) {%>
              <li><a class="nav-link" href="/users/profile" ><%= user.name %></li></a>  
              
        <li class="nav-item active">
          <a class="nav-link" href="/users/sign-out">Sign out</a>
        </li>       
          <% } else { %>

        <li class="nav-item active">
          <a class="nav-link" href="/users/sign-in">Sign in</a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" href="/users/sign-up">Sign up<span class="sr-only">(current)</span></a>
        </li>
          <%}%>
       <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
      
    </div>
  </nav>
  </header>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>