<link rel="stylesheet" href="/css/sign.css">
<div class="row">

    <% if(locals.user){ %>
<div class="signup-form  col-lg-4 col-md-6 col-xs-12">
    <form action="/posts/create" method="post">
        <div class="form-group">
                <label for="comment">Create Post</label>
                <textarea class="form-control" name = "content" rows="5" id="comment"></textarea>
              </div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
        </div>
    </form>
    <%}%>

    <div class= "posts-container">
        <%for(post of posts){%>
            <div class="card signup-form " >
                <div class="card-body">
                  <h5 class="card-title" style="color:black;"><%= post.user.fname %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text" style="color:black;"><%= post.content %></p>
                  <a href="#" class="card-link" style="color: darkgreen;">Card link</a>
                  <a href="#" class="card-link" style="color: darkgreen;">Another link</a>
                </div>
              </div>
        <%}%>
    </div>

    

 </div>
</div>
