<link rel="stylesheet" href="/css/sign.css">
<div class="row align-items-center offset-sm-4"  >
      
<div class="signup-form  col-lg-6 col-md-6 col-xs-12 " >
    <form action="/users/reset-pwd-complete/<%= resetpwd.access_token%>" method="post">
		<h2>Reset Password</h2>
		
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="New Password" required="required">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
        </div>

		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
        </div>
        
     </form>

    
</div>
</div>   

