<link rel="stylesheet" href="/css/sign.css">
<div class="row align-items-center offset-sm-4" style=" height: 90%;" >
    <div class="signup-form  col-lg-6 col-md-6 col-xs-12">
    <form action="/users/create" method="post">
		<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group form-row">
            <div class = "col"><input type="text" class="form-control" name="fname" placeholder="First Name" required="required"></div>
            <div class = "col"><input type="text" class="form-control" name="lname" placeholder="Last Name" required="required"></div>       
        </div>
   <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
        </div>        
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
    <div class="text-center" style="color: black;">Already have an account? <a href="/users/sign-in" style="color: green;">Sign in</a></div>
</div>
</div>
