<link rel="stylesheet" href="/css/sign.css">
<div class="row align-items-center offset-sm-4"  >
      
<div class="signup-form  col-lg-6 col-md-6 col-xs-12 " >
    <form action="/users/create-session" method="post">
		<h2>Login</h2>
		<div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Sign In</button>
        </div>
        <div class="form-group">
            <label class="checkbox-inline" ><input type="checkbox"> 
                Remember me</label>
        </div>
        
        <div class="form-group">
            <a   href="/users/auth/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Sign In with Google</a> 
        </div>
       

     </form>

    <div class="text-center" style="color: black;">
        
        <a href="#" style="color: green;">Forgot Password? </a>
    </div>
</div>
</div>   

