<link rel="stylesheet" href="/css/sign.css">
<div class="row align-items-center offset-sm-4"  >
      
<div class="signup-form  col-lg-6 col-md-6 col-xs-12 " >
    <form action="/users/create-session" method="post">
		<h2>Login</h2>
		<div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Sign In</button>
        </div>
        <div class="form-group">
            <label class="checkbox-inline" ><input type="checkbox"> 
                Remember me</label>
        </div>
        
        <div class="form-group">
            <a   href="/users/auth/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Sign in with Google</a> 
        </div>
       

     </form>

    <div class="text-center" style="color: black;">
        
<span data-toggle="modal" data-target="#modalLoginForm" style="color: green;">Forgot Password?</span>
        
  <!-- Modal -->
  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold" style="color: gray;">Enter registered Email</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



      <form action="/users/password-reset" style="background-color: white;margin-bottom:0px;" method="post">
		
		<div class="form-group" >
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		
		<div class="form-group">
            <button type="submit" class="btn btn-success ">Confirm</button>
        </div>
        
        
       

     </form>


     
    
    </div>
  </div>
</div>



    </div>
</div>
</div>   

